<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userController" class="com.skyline.controller.UserController" autowire="byType">

    </bean>

    <!--autowire 自动装载必需手动开启-->
    <bean id="userService" class="com.skyline.service.impl.UserServiceImpl" autowire="byType">

    </bean>

    <bean id="userDao" class="com.skyline.dao.impl.UserDaoImpl">

    </bean>


</beans>